/*********************
BOX LAYOUT
*********************/

body {
	background-image: url('../img/TiledBackground.jpg');
	background-repeat: repeat;
}


#site-wrapper {
	max-width: 800px;
	margin: 3% auto;
	border-radius: 10px;
}

header {
	max-width: 100%;
	border-bottom: 4px dashed #B3B3B3;
	text-align: center;
	padding: 5% 3%;
	margin-bottom: 20px;
}

#logo {
	width: 50%;
	min-width: 300px
}

#sub-wrapper {
	width: 100%;
}

#game {
	width:80%;
	padding: 0;
	background-color: #E6E6E6;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
}

div .head1 {
	border-bottom: 2px dotted #B3B3B3;
	padding: 10px 20px 5px 23px;
	text-align: center;
}

div .para1 {
	padding: 15px 20px 20px 20px;
	text-align: center;
}

#guessHistory {
	width: 80%;
	padding: 0;
	border: 2px solid #E6E6E6;
	border-radius: 10px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	height: 220px;
}

#past-guesses {
	padding: 15px 20px 0px 20px;
	margin:0;
}

#past-guesses li {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
}

footer {
	max-width: 100%;
	border-top: 4px dashed #B3B3B3;
	text-align:center;
	padding: 15px 10px;
	margin-top: 20px;
	clear: both;
}

/************************
TEXT STYLING
************************/

h1 {
	font-family:'Arvo', serif;
	font-weight: 700;
	font-size: 1.5em;
	color: #FF1D25;
	margin: 0;
}

h2 {
	font-family:'Arvo', serif;
	font-weight:normal;
	font-style: italic;
	font-size: 1.2em;
	color: #FF1D25;
	margin: 0;
}

h3 {
	font-family:'Lato', sans-serif;
	font-weight:normal;
	font-size: 1.1em;
	color:#1A1A1A;
	margin: 0 0 15px 0;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight:1.1em;
	color:#1A1A1A;
	margin:0 0 15px 0;
}

span {
	font-size: 1.5em;
	color: #FF1D25;
	font-weight: bold;
}

.superclose {
	font-family:'Lato', sans-serif;
	font-weight:normal;
	font-size: 1.1em;
	color:#249754;
	margin: 0 0 15px 0;
}

.close {
	font-family:'Lato', sans-serif;
	font-weight:normal;
	font-size: 1.1em;
	color:#a8db45;
	margin: 0 0 15px 0;
}

.cold {
	font-family:'Lato', sans-serif;
	font-weight:normal;
	font-size: 1.1em;
	color:#de7a20;
	margin: 0 0 15px 0;
}

.icecold {
	font-family:'Lato', sans-serif;
	font-weight:normal;
	font-size: 1.1em;
	color:#ff0000;
	margin: 0 0 15px 0;
}

/***************************
INPUT ELEMENTS
***************************/

.buttons {
	text-align: center;
	padding-bottom: 20px;
}

#go-button {
	width: 120px;
	height: 45px;
	display: block;
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px 15px 15px;
	margin: 20px auto 12px auto;
	background-color: #3498DB;
	border: 1px solid #2574A9;
	border-radius: 5px;
}

#go-button:hover {
	width: 120px;
	height: 45px;
	background-color: #59ABE3;
}

#go-button:active {
	width: 120px;
	height: 45px;
	background-color: #1E8BC3;
}

#hint-button {
	width: 120px;
	height: 22px;
	border: 0;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #3A539B;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
}

#hint-button:hover {
	text-decoration: underline;
}


#tryagain-button {
	width: 120px;
	height: 22px;
	border: 0;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #3A539B;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
}

.tryagain-button:hover {
	text-decoration: underline;
}

#form-input{
	 height: 45px;
	 width: 120px;
	 border: 1px solid #2574A9;
	 border-radius: 5px;
	 text-align: center;
	 font-family: 'Lato', sans-serif;
	 font-size: 1.3em;
}
